.wrapper-main {
  width: 100%;
  box-sizing: border-box;
}
/* 
.portfolio-image{
  width: 25%;
  position: absolute;
  top: 0px;
  left: 0px;
  animation-duration: 2s;
  animation-fill-mode: both;
  
} */

.testing{
  width: 25%;
  position: absolute;
  left: 0px;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: slide;
  z-index: 0;
  margin: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: orange;
}

.picy {
  width: 100%;
  border-top: 2px solid orange;
}

.split {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  width: 50%;
  height: 1050px;
  border-left: thin solid orange;
    margin-right: 0;
    margin-left: 0;
}

.portfolio-git-link {
  color: black;
  margin-top: 30px;
  }

.git-link-portfolio {
  font-size: medium;
}

.first{
  top: 18%;
  animation-name: slide;
  z-index: 0;
}

.second{
  top: 18%;
  animation-name: slideback;
  z-index: 1;

}

.third{
  animation-name: slide;
  top: 55.5%;
  animation-delay: .5s;
  z-index: 0;
  border-top: 2px solid orange;
}

.fourth{
  animation-name: slideback;
  top: 55.5%;
  animation-delay: .5s;
  z-index: 1;
  border-top: 2px solid orange;
}

.fifth{
  animation-name: slide;
  top: 93%;
  animation-delay: 1s;
  z-index: 0;
  border-top: 2px solid orange;
}

.sixth{
  animation-name: slideback;
  top: 93%;
  animation-delay: 1s;
  z-index: 1;
  border-top: 2px solid orange;
}

@keyframes slide{
  from{transform: translate(-100%)}
  to{transform: translate(75%)}
}

@keyframes slideback{
  from{transform: translate(400%)}
  to{transform: translate(225%)}
}

/* .fourth{
  transition-timing-function: ease-in;
  animation-name: pullaway1;
  animation-duration: .5s;
  top: 55.5%;
  animation-delay: .5s;
  z-index: 2;
  border-top: 2px solid orange;
} */

@keyframes pullaway1{
  from{transform: translate(400%)}
  to{transform: translate(350%, -10%) rotateZ(2deg)}
}

@keyframes pullback1{
  from{transform: translate(350%, -10%) rotateZ(2deg)}
  to{transform: translate(400%)}
}

@keyframes pullaway2{
  from{transform: translate(400%)}
  to{transform: translate(300%, 15%) rotateZ(-5deg)}
}

@keyframes pullback2{
  from{transform: translate(300%, 15%) rotateZ(-5deg)}
  to{transform: translate(400%)}
}

@keyframes smash{
  from{transform: translate(400%)}
  to{transform: translate(194%, -7%) scale(0.9, 1.1)}
}

@keyframes smash2{
from{transform: translate(194%, -7%) scale(0.9, 1.1)}
to{transform: translate(194%, 2%) scale(0.9, 1.1) rotateZ(8deg)}
}

body {
  background: rgb(255, 255, 250);
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#header {
  background: gray;
}

.navbar-header.col {
  padding: 0 !important;
}	

.nav-link, .navbar-nav, .nav {
  color: black;
  font-size: small;
}

.navbar {		
  background: gray;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 2px solid orange;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand {
  color: whitesmoke;
  padding-left: 0;
  font-size: 25px;
  padding-right: 50px;
  font-family: 'Raleway', sans-serif;
}

.navbar .navbar-brand b {
  font-weight: bold;
  color: orange;
}

.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
  color: orange !important;
}

.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
  color: orange !important;
  background: transparent !important;
}

.home {
margin-top: 3%;
}

ul,li{
list-style: none;
padding-left:0;
}

li {
  line-height:300%;
}

.text-main {
  margin-top: 4%;
}

.horz-line {
  margin-top: 0;
  margin-bottom: 0;
  width: 75%;
  border-color: orange;
}

#vert-line {
    border-left: thin solid orange;
    margin-right: 0;
    margin-left: 0;
}

#rick-pic {
  margin-left: 0;
  padding: 0px 0px;
 object-fit: contain;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.snaps {
 text-align: center;
 padding: 5px;
 border: 1px solid orange; 
 background-color: rgb(255, 255, 250);
 margin: auto;
 margin-top: 2%;
 border-radius: 5px;
 margin-bottom: 2%;
}

h1 {
  margin: 0;
  color: #111111;
  font-weight: bolder;
  margin-bottom: 0.1em;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2em;
  letter-spacing: -0.07em;
}

p.intro {
  font-size: 25px;
  font-size: 2rem;
  color: #666666;
  line-height: 1.3em;
  margin-bottom: 0.7em;
  clear: both;
}

p {
  font-size: 20px;
  color: #666666;
  line-height: 1.3em;
  margin-bottom: 0.7em;
  clear: both;
}

#chart {
  width: 60%;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.part {
 padding: 5%;
}

#coder {
background: rgb(240, 240, 235);
border-top: 3px solid rgb(216, 216, 216)
}

#snapsbox {
text-align: center;
}

.centered {
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.footer {
  background: rgb(206, 205, 205);
  border-top: 2px solid orange;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.white {
  color: white;
}

#stickMan {
  width: 100%;
}

#contact-block {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#myForm {
  margin-left: auto;
  margin-right: auto;
}

.contact-input {
  width: 70%;
}

.contact-item {
  background: orange;
  margin: 10px;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

h2 {
  text-align: center;
  margin: 0;
  color: #111111;
  font-weight: bolder;
  margin-bottom: 0.1em;
  font-size: 3rem;
  line-height: 1.2em;
  letter-spacing: -0.07em;
}

.carousel-item {
  background-color: orange;
  border: 2px solid black; 
  border-radius: 5px;
  padding: 5px;
  border-radius: 5px;
}

.projects {
  width: 25%;
  margin: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: orange;
}

.btn {
  width: 47%;
  font-size: small;
}

#relative-portfolio {
  text-align: center;
}



.validate {
  width: 80%;
}

#submit1 {
  width: 20%;
  margin:15px;
}

#form {
margin-top: 5%;
}

.inputLine {
 margin-top: 4%;
}

/* FOOTER STYLES */

  html, body {
    height: 117%;
    margin: 0;
  }

  .wrapper-main {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .footer,
  .push {
    height: 50px;
  }

  .med {
    font-size: medium;
  }

  .small {
    font-size: small;
  }

  @media only screen and (max-width: 767px) {
  
    .text-container {
      background-color: blue;
      position: absolute;
    }
    .snaps {
      width: 15%;
      display: inline;
    }
    .header-responsive {
      font-size: medium;
      margin-bottom: 10px;
    }
    .intro-responsive{
      font-size: small;
    }
    .text-responsive{
      font-size: small;
    }
  }